.hero {
  padding-top: var(--header-height, 25px); // можно завести переменную
}
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.hero__content {
  flex: 1;
}

.hero__image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero__image img {
  max-width: 100%;
  height: auto;
}
